.section7_container {
  display: flex;
  .product_item {
    position: relative;
    width: calc(100% / 3);
    display: flex;
    img {
      width: 100%;
    }
    .product_item_title {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      color: white;
      display: flex;
      justify-content: center;
      @include f32(500);
    }
    .product_item_btn {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      color: black;
      width: fit-content;
      text-align: center;
      margin: 0 auto;
      background-color: white;
      padding: 16px 50px;
      @include f14(600);
      text-transform: uppercase;
    }
  }
}
