.section5_container {
  padding: 40px 40px 30px 40px;
  @include mobile {
    padding: 50px 20px 15px 20px;
  }
  .section5_title {
    @include f32(700);
    text-align: center;
    @include mobile {
      @include f28(700);
    }
  }
  .section5_services {
    display: flex;
    gap: 0 77px;
    margin: 48px 0 0 0;
    @include mobile {
      flex-direction: column;
      gap: 30px 0;
    }
    .services_box {
      text-align: center;
      img {
        @include mobile {
          width: 100%;
        }
      }
      .services_box_detail {
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 30px;
        padding: 18px;
        width: 358px;
        margin: 0 auto;
        transform: translateY(-60px);
        background-color: var(--white);
        .services_name {
          color: var(--sunset-pearl);
          @include f28(700);
          @include mobile {
            @include f24(700);
          }
        }
        .services_desc {
          @include f20(300);
          text-align: center;
          margin: 4px 0 7px 0;
          @include mobile {
            @include f16(300);
          }
        }
        .services_stars {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 9px;
        }
      }
    }
  }
}
