.section1_container {
  margin: 112px 0 0 0;
  .inner_box_slider {
    .slider_img {
      width: 100%;
      height: calc(100vh - 30px - 74px);

      .slider_box {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.205);
        .slider_text1 {
          font-size: 80px;
          font-weight: 600;
          color: white;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .slider_text2 {
          font-size: 30px;
          font-weight: 500;
          color: white;
          text-align: center;
          margin: 0 400px;
        }
      }

      button {
        background-color: #ffe926;
        color: black;
        border: 1px solid black;
        border-radius: 100px;
        padding: 18px 45px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      @include mobile {
        width: 100%;
        height: 200px;
      }
    }
  }
}
