.section4_container {
  padding: 40px 40px 30px 40px;
  @include mobile {
    padding: 20px 20px 15px 20px;
  }
  .section4_title {
    @include f32(700);
    text-align: center;
    @include mobile {
      @include f24(700);
    }
  }
  .section4_blogs {
    display: flex;
    gap: 0 77px;
    margin: 48px 0 0 0;
    img {
      @include mobile {
        width: 100%;
      }
    }
    @include mobile {
      flex-direction: column;
      gap: 40px 0;
    }
    .blog_name {
      margin: 28px 0;
      text-align: center;
      color: var(--sunset-pearl);
      @include f32(700);
      @include mobile {
        @include f24(700);
      }
    }
    .blog_desc {
      @include f24;
      text-align: center;
      @include mobile {
        @include f18;
      }
    }
  }
}
