.section8_container {
  background-color: var(--sunset-pearl);
  padding: 32px 40px 60px 40px;
  display: flex;
  justify-content: space-between;
  @include mobile {
    padding: 16px 20px 30px 20px;
    flex-direction: column;
    gap: 30px 0;
  }
  .section8_left {
    .section8_left_title {
      @include f32;
      margin: 6px 0 0 0;
      @include mobile {
        @include f16;
      }
    }
    .section8_left_desc {
      @include f24;
      width: 500px;
      @include mobile {
        @include f12;
        width: 100%;
      }
    }
  }
  .section8_right {
    width: 50%;
    @include mobile {
      width: 100%;
    }
    .section8_right_inputs {
      background-color: var(--white);
      display: flex;
      align-items: center;
      padding: 28px 43px;
      border-radius: 40px 0 40px 0;
      width: 100%;
      justify-content: space-between;
      @include mobile {
        padding: 14px 21px;
        border-radius: 20px 0 20px 0;
      }
      input {
        outline: 0;
        background-color: transparent;
        border: 0;
        width: 80%;
        @include f24;
        @include mobile {
          @include f16;
        }
      }
      .section8_right_btn {
        background-color: var(--envy);
        padding: 12px 75px;
        border-radius: 100px;
        color: var(--white);
        @include f32(700);
        @include mobile {
          @include f18(700);
          padding: 6px 30px;
        }
      }
    }
    .section8_list {
      display: flex;
      gap: 0 100px;
      text-align: center;
      margin: 36px 0 0 0;
      @include mobile {
        flex-direction: column;
        justify-content: center;
      }
      .title {
        @include f32;
        @include mobile {
          @include f24(700);
        }
      }
      > div {
        > div {
          margin: 10px 0;
          @include f24;
          @include mobile{
            @include f18;
          }
        }
        a {
          @include f24;
          margin: 10px 0;
          color: var(--black);
          text-decoration: none;
          display: flex;
          align-items: center;
          gap: 0 4px;
          @include mobile {
            @include f18;
            justify-content: center;
          }
        }
      }
    }
  }
}
