.section2_container {
  position: relative;
  top: -8px;
  img {
    width: 100%;
  }
  .apparel {
    position: absolute;
    top: 0;
    left: 0;
    @include f40(600);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
  }
  .bags {
    position: absolute;
    top: 0;
    right: 0;
    @include f40(600);
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 100%;
  }
  .toys {
    position: absolute;
    bottom: 0;

    @include f40(600);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110px;
    color: white;
  }
  // display: flex;
  // .section2_inner_box {
  //   display: flex;
  //   .section2_inner_box_title {
  //     writing-mode: vertical-rl;
  //     transform: rotate(180deg);
  //     text-align: center;
  //     @include f40(600);
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     width: 250px;
  //     background-color: #7dccda;
  //   }
  //   .section2_inner_box_title2 {
  //     writing-mode: vertical-rl;
  //     transform: rotate(0deg);
  //     text-align: center;
  //     @include f40(600);
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     width: 250px;
  //     background-color: #f2de4b;
  //   }
  // }
  // .section2_inner_box3 {
  //   .section2_inner_box3_img {
  //     width: 600px;
  //     height: 550px;
  //   }
  //   .section2_inner_box3_title {
  //     background-color: #e50980;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     @include f40(600);
  //     height: 90px;
  //   }
  // }
}
